.projects_image_first {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)), url(../../Assets/Projects1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 672px;
  border-radius: 20px;
  filter: drop-shadow(2px 4px 6px black);
}
@media screen and (max-width: 900px) {
  .projects_image_first {
    height: 328px;
  }
}

.projects_image_second {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)), url(../../Assets/Projects2.jpg);
  filter: drop-shadow(2px 4px 6px black);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 20px;
  height: 328px;
}
.projects_image_third {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)), url(../../Assets/Projects3.avif);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 20px;
  height: 328px;
  margin-top: 16px;
  filter: drop-shadow(2px 4px 6px black);
}
