.projects_image_first {
  background-image: url(../../Assets/Projects1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 672px;
  border-radius: 20px;
  filter: grayscale(100%);
}
.projects_image_second {
  background-image: url(../../Assets/Projects2.jpg);
  filter: grayscale(100%);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 20px;
  height: 328px;
}
.projects_image_third {
  background-image: url(../../Assets/Projects3.avif);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 20px;
  height: 328px;
  margin-top: 16px;
  filter: grayscale(100%);
}
